In [2]:
%cd ../base

C:\Users\GAMER\Documents\Development\curso_python\base

In [51]:
import pandas as pd

In [52]:
df_agri = pd.read_csv('API_AG.LND.AGRI.K2_DS2_en_csv_v2_716226.csv', header = 2)
df_fore = pd.read_csv('API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv', header = 2)
df_elec = pd.read_csv('API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_715482.csv', header = 2)
df_co2e = pd.read_csv('API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv', header = 2)
df_popu = pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv', header = 2)

In [53]:
map(str,range(1971,2015))
cols= ['Country Name','Country Code'] + list(map(str,range(1971,2015)))

In [54]:
cols[:5]

['Country Name', 'Country Code', '1971', '1972', '1973']

### Para volver las columnas de la serie parte de las observaciones o seguir conservandolas como variables

In [55]:
df_agri.loc[:,cols].melt(id_vars=['Country Name','Country Code']).rename(columns ={'variable':'date','Country Name':'Country',
        'Country Code':'name',
        'value':'agriculture'})

            Country name  date  agriculture
0             Aruba  ABW  1971         20.0
1       Afghanistan  AFG  1971     380360.0
2            Angola  AGO  1971     574000.0
3           Albania  ALB  1971      12000.0
4           Andorra  AND  1971        250.0
...             ...  ...   ...          ...
11611        Kosovo  XKX  2014          NaN
11612   Yemen, Rep.  YEM  2014     235460.0
11613  South Africa  ZAF  2014     968410.0
11614        Zambia  ZMB  2014     238360.0
11615      Zimbabwe  ZWE  2014     162000.0

[11616 rows x 4 columns]

In [56]:
def fun_format(df,col='agriculture'):
    return df.loc[:,cols].melt(id_vars=['Country Name','Country Code']).rename(
        columns ={'variable':'date',
                  'Country Name':'Country',
                  'Country Code':'name',
                  'value':col})

In [ ]:
df_agri = fun_format(df_agri,col='agriculture')
df_fore = fun_format(df_fore,col='forest')
df_elec = fun_format(df_elec,col='electricprod')
df_co2e = fun_format(df_co2e,col='co2')
df_popu = fun_format(df_popu,col='population')

### Una vez hemos transformado los dataframe bajo un estandar muy parecidos los podemos juntar con merg

In [ ]:
df_merge = pd.merge()