In [2]:
%cd documents/development/curso_python/base

C:\Users\GAMER\documents\development\curso_python\base

In [8]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.3'

In [5]:
df = pd.read_csv('london_merged.csv')

In [9]:
df.dtypes ## Tipos de datos

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

Si el formato no es muy completo, pandas reconoce el formato y lo transforma de inmediato.
## Almacenar Hora del Objeto Fecha en una nueva Col

In [15]:
df['hour'] = df['timestamp'].dt.hour

La siguiente función iloc, permite componer nuevamente el dataframe almacenando en este caso todas las observaciones, o las filas, desde la colunma 1 hasta la final, omitiendo la columna 0

In [20]:
df = df.iloc[:,1:]

Operaciones matematicas, elevar al cuadrado una serie, o columna.

In [24]:
np.sin(df['wind_speed']**2) +10

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

In [25]:
df['t1'] - df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [26]:
df['t1'].iloc[::2] ## selección de los indices de 2 en 2

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

A continuación, se resta dos series, dos columnas pero, en la columna 1 hay datos que no se tienen o no se muestran por tanto, el sistema completa esas variables como variables nulas.

In [27]:
df['t1'].iloc[::2] - df['t2']

0        1.0
1        NaN
2        0.0
3        NaN
4        2.0
        ...
17409    NaN
17410    4.0
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

A continuación, se realiza la substracción a través de la función cargada en pandas parar restar los valores entre las dos columnas, pero si encuentra datos nulos, los va a rellenar con 1000

In [28]:
df['t1'].iloc[::2].sub(df['t2'], fill_value = 1000)

0          1.0
1        997.5
2          0.0
3        998.0
4          2.0
         ...
17409    999.0
17410      4.0
17411    998.5
17412      4.0
17413    999.0
Length: 17414, dtype: float64

In [29]:
df['t1'].dot(df['t1']) ## producto punto

3247652.777777778

In [33]:
def fun_1(x):
    y = x**2+1
    return y

In [34]:
fun_1(10)

101

In [35]:
np.arange(-5,6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [36]:
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26], dtype=int32)

## Operaciones mas complejas con funciones

In [37]:
df['hour'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [38]:
def fun_2(x, a=1,b=0):
    y = x**2 + a*x+b
    return y

In [40]:
fun_2(10,a=100,b=5)

1105

Aplicar la función al dataframe se debe realizar con Apply, dentro del apply tambien puedes agregar la función con sus argumentos dentro de una tupla

In [41]:
df['hour'].apply(fun_2,args = (20,-100))

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

## Lambda

Es la forma de definir la función en una sola linea, se cambiara la variable t1, en donde la notación lambda x significa la variable a la que se le aplica el cambio, y luego se indica que cambio es despues del :

In [43]:
df['t1'].apply(lambda x:x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [45]:
df.apply(lambda x:x.mean()) ## permite aplicar la función a todo el df

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [46]:
df.apply(lambda x:x.mean(),axis=1) ## calcular por filas

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [48]:
df.apply(lambda x:x.std(),axis=1) ## desviación estandar

0         60.787517
1         49.012045
2         48.779692
3         36.249751
4         30.642427
            ...
17409    325.831944
17410    168.138964
17411    104.504505
17412     70.027296
17413     45.710320
Length: 17414, dtype: float64

In [49]:
df.apply(lambda x:x['t1']-x['t2'],axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

Cambioo a todo el DATAFRAME

In [50]:
df.applymap(lambda x:x/1000)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,0.182,0.0030,0.0020,0.0930,0.0060,0.003,0.0,0.001,0.003,0.000
1,0.138,0.0030,0.0025,0.0930,0.0050,0.001,0.0,0.001,0.003,0.001
2,0.134,0.0025,0.0025,0.0965,0.0000,0.001,0.0,0.001,0.003,0.002
3,0.072,0.0020,0.0020,0.1000,0.0000,0.001,0.0,0.001,0.003,0.003
4,0.047,0.0020,0.0000,0.0930,0.0065,0.001,0.0,0.001,0.003,0.004
...,...,...,...,...,...,...,...,...,...,...
17409,1.042,0.0050,0.0010,0.0810,0.0190,0.003,0.0,0.000,0.003,0.019
17410,0.541,0.0050,0.0010,0.0810,0.0210,0.004,0.0,0.000,0.003,0.020
17411,0.337,0.0055,0.0015,0.0785,0.0240,0.004,0.0,0.000,0.003,0.021
17412,0.224,0.0055,0.0015,0.0760,0.0230,0.004,0.0,0.000,0.003,0.022
17413,0.139,0.0050,0.0010,0.0760,0.0220,0.002,0.0,0.000,0.003,0.023