In [1]:
%cd documents/development/curso_python/base

C:\Users\GAMER\documents\development\curso_python\base

In [2]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv('poblacion.csv')

In [28]:
pd.options.display .float_format='{:,.1f}'.format ## especifica el formato que tenemos

In [29]:
df['year'] = pd.Categorical(df['year'].apply(str)) ##Convertir en variable categorica los años

In [30]:
df.dtypes

Country      object
year       category
pop         float64
dtype: object

## Hacer una base mas pequeña de indices

En esta base se crea un filtro. con una función que me crea un vector de variables booleanas con dos paises. nos permite filtrar despues

In [55]:
idx_filtro = df['Country'].isin(['Aruba','Colombia'])

In [32]:
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

Se crea un data frame con el filtro que usamos como vector booleano, lo que hace pandas es que el valor parametro que pasaste por el .isin() te lo localiza en el vector colocandote true y si no lo encuentra en el vector te coloca False.

In [33]:
df_sample = df[idx_filtro]

In [34]:
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

## Ahora si, Multiples indices :)

In [35]:
df_sample = df_sample.set_index(['Country','year']).sort_index()

In [36]:
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

Permite estructurar los datos para un mejor analisis.

In [14]:
df_sample.loc['Colombia',:].loc['2016',:]

pop   48,171,392.0
Name: 2016, dtype: float64

## Seleccionar multiples indices

In [15]:
df_sample.xs(['Aruba',"2018"])

pop   105,845.0
Name: (Aruba, 2018), dtype: float64

Hacer la selección de bajo nivel, es decir obtener desde los indices del segundo nivel

In [16]:
df_sample.xs('2018',level='year')

                  pop
Country
Aruba       105,845.0
Colombia 49,648,685.0

## TODO EL CONJUNTO DE DATOS

In [42]:
df_countries = df.set_index(['Country','year']).sort_index(ascending=[True,True])

In [43]:
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

### Con la siguiente función se pueden coger pedazos del dataframe

In [45]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Australia','2015':'2017'],:]

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0

Como se puede apreciar la misma función loc, o que antes usamos iloc y no se cual es la diferencia, acabo de investigar y lo que puedo concluir es que iloc[] se refiere es la posición primaria numerica dentro de la lista que va desde 0 hasta lenght-1

Con diferencia de loc que se usa para arrays booleanos, es decir los labels te los localiza aun cuando no son integer.

In [47]:
# df.iloc[lambda x: x.index % 2 == 0] ## indices pares

#### ids se definio como una función. es decir la función se asigno a una variable, es función te trae o parte los indices que desees o pases como argumentos, entonces, si tienes definida esa función solo queda introducirla dentro del iloc para que te traiga en conjunto los multiples indices que pases dentro de la función.

In [49]:
df_countries.index.get_level_values(0) ## devuelve los indices de primer
## nivel

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [50]:
df_countries.index.get_level_values(1) ## devuelve los indices de segundo
## nivel

CategoricalIndex(['2015', '2016', '2017', '2018', '2015', '2016', '2017',
                  '2018', '2015', '2016',
                  ...
                  '2017', '2018', '2015', '2016', '2017', '2018', '2015',
                  '2016', '2017', '2018'],
                 categories=['2015', '2016', '2017', '2018'], ordered=False, name='year', dtype='category', length=1040)

In [52]:
df_countries['pop']['Colombia']['2018'] ## es otra manera de acceder a los datos, 
## parece que solo sirve si tienes definidos los niveles de tus indices

49648685.0

In [53]:
df_countries.sum(level='year')

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

### La siguiente función es poderosa para cambiar los indices de columna a filas.

In [54]:
df_sample.unstack('year')

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

### La función .isin() se usa para identificar valores cuales sean dentro de los dataframe, devolviendote un vector o matriz buleana de True o False si dentro de cada serie se encuentra los datos evaluados.